<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>Legislation: {% block subtitle %}{% endblock %}</title>
</head>
<body>
	<div id="notice">
		This site is not maintained and exists solely as an example.  For a maintained legislation permalinking 
		service, please visit <a href="http://tinythom.as">tinyThom.as</a>.
	</div>
    {% block content %}{% endblock %}
</body>
</html>
